select {
  outline: none;
  background-color: aqua;
  padding: initial;
  margin: initial;
  font-size: initial;
  line-height: initial;
  color: initial;
  border: initial;
  background: initial;
  outline: none;
  textarea,
  input {
    outline: none;
  }
}
textarea,
input {
  outline: none;
}
